* {
  margin: 0;
  padding: 0;
}
.favorites-container {
  margin: 0px auto;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -80px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 45px; /* gutter size */
  background-clip: padding-box;
  margin: 30px;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.my-masonry-grid_column img {
  object-fit: cover;
}

.photos-container {
  position: relative;
  cursor: pointer;
}

// .photos-container img {
//   display: block;
// }
// .hover-action-icons {
//   display: none;
// }
// .photos-container :hover + .hover-action-icons {
//   display: block;
// }
.icon-border-heart {
  position: absolute;

  top: 10px;
  right: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.container-icon-trash {
  // position: absolute;
  bottom: 10px;
  right: 30px;
  color: rgb(0, 0, 0);
  display: flex;
  gap: 20px;
}
.icon-pencil :hover {
  color: rgb(220, 160, 207);
  cursor: pointer;
}
.icon-trash :hover {
  color: rgb(220, 160, 207);
  cursor: pointer;
}
.author {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  gap: 10px;

  &__image {
    width: 40px;
    border-radius: 50%;
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__portfolio {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__likes {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.delete-icon {
  color: black;
}
.edit-icon {
  color: black;
}
