.home-container {
  margin: 0px auto;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // margin-left: -80px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  // padding-left: 45px; /* gutter size */
  background-clip: padding-box;
  margin: 30px;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: rgb(156, 144, 144);
  margin-bottom: 30px;
}
.my-masonry-grid_column img {
  object-fit: cover;
}

.photos-container {
  position: relative;
  cursor: pointer;
}

// .photos-container img {
//   display: block;
// }
// .hover-action-icons {
//   display: none;
// }
// .photos-container :hover + .hover-action-icons {
//   display: block;
// }
.icon-border-heart {
  // position: absolute;

  top: 10px;
  right: 30px;
  color: rgb(247, 44, 44);
  cursor: pointer;
}

.container-icon-trash {
  // position: absolute;
  bottom: 10px;
  right: 30px;
  color: rgb(241, 23, 23);
  display: flex;
  gap: 20px;
}
.icon-pencil :hover {
  color: rgb(220, 160, 207);
  cursor: pointer;
}
.icon-trash :hover {
  color: rgb(220, 160, 207);
  cursor: pointer;
}
